<p align="center"><font size="5">Unfortunately, <%= link %>!</font></p>
<br>
<br>
<br>
<div class="row">
	<div class="span16" style="text-align:center">
		<div class="btn-group">
			<button id="home_button" class="btn">Choose another word?</button>
		</div>
    </div>
</div>