<!-- This is a comment -->
<p align="center"><font size="4">On Tweeter, people often send tweets with links
	to other websites. <br>They might also describe those sites by saying that the
	site the link takes users to is awesome or painful.<br>
	This page tracks the links that are considered the most of some description!</font></p>
			
<h1 align="center">Descriptions Searchable</h1>

<!-- <p>Here is the variable: <%= title %> </p> -->

<p align="center">
	<font size="5">
	<a href='word/awesome'>awesome</a>
<!-- <a href='word/cool'>cool</a> -->
<!-- <a href='word/gnarly'>gnarly</a> -->
<!-- <a href='word/bad'>bad</a> -->
<!-- <a href='word/painful'>painful</a>	-->
	</font>
</p>