<!DOCTYPE html>
<html>
	<head>	
		<title>Project 3</title>

	    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
	</head>
	
	<body>
		<b><p align="center"><font size="10">Tweeter and Links</font></p></b>
			<%- body %>
	</body>
	
    <p align="center"><a href="/">Back</a></p>
	
</html>