<!DOCTYPE html>
<html>
	<head>	
		<title>Project 3</title>
		
	    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	</head>
	
	<body class="bodybackground">
		<b><p align="center"><font size="10">Tweeter and Links</font></p></b>
			<br>
			<div class="container">
				<%- body %>
			</div>
	</body>
	
	<br>
	<br>
	
    <p align="center"><font size="4"><a href="/">Home</a></font></p>
	
</html>